<nav>
    <div class="navbar-toggler">
        <button class="@BtnToggled" id="toggle-btn" @onclick="ToggleNavMenu">
            <RoadToSolo.Pages.Svg.HamburgerIcon />
        </button>
        @*<div class="@NavMenuCssClass">
            <RoadToSolo.Pages.Svg.TwitterIcon />
            <RoadToSolo.Pages.Svg.GithubIcon />
        </div>*@
    </div>
    <ul class="nav-bar">
        <li class="nav-item">
            <NavLink href="" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink href="projects">
                <span aria-hidden="true"></span> Projects
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink href="roadtosolo">
                <span aria-hidden="true"></span> Road To Solo
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink href="blog">
                <span aria-hidden="true"></span> Blog
            </NavLink>
        </li>
    </ul>
    <div class="nav-icons">
        <RoadToSolo.Pages.Svg.TwitterIcon />
        <RoadToSolo.Pages.Svg.GithubIcon />
    </div>
</nav>

<nav class="@NavMenuCssClass">
    <ul>
        <li>
            <NavLink href="" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li>
            <NavLink href="projects">
                <span aria-hidden="true"></span> Projects
            </NavLink>
        </li>
        <li>
            <NavLink href="roadtosolo">
                <span aria-hidden="true"></span> Road To Solo
            </NavLink>
        </li>
        <li>
            <NavLink href="blog">
                <span aria-hidden="true"></span> Blog
            </NavLink>
        </li>
    </ul>
</nav>

@code {
    private bool hideNavMenu = true;
    private bool showToggleBtn = true;

    private string NavMenuCssClass => hideNavMenu ? "hidden" : "visible";
    private string BtnToggled => showToggleBtn ? "btnNotToggled" : "btnToggled";


    private void ToggleNavMenu()
    {
        hideNavMenu = !hideNavMenu;
        showToggleBtn = !showToggleBtn;
    }
}