@using Pages; 

<nav>
    <div id="navbar-toggler">
        <div id="menuToggle" class="@NavBarToggle" @onclick="ToggleNavMenu">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <ul class="nav-bar">
        <li class="nav-item">
            <NavLink href="" Match="NavLinkMatch.All"> 
                <span aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink href="projects">
                <span aria-hidden="true"></span> Projects
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink href="roadtosolo">
                <span aria-hidden="true"></span> Road To Solo
            </NavLink>
        </li>
        <RoadToSolo.Pages.Tooltip Text="Coming Soon!">
            <li class="nav-item-coming-soon">
                <span aria-hidden="true"></span> Blog
            </li>
        </RoadToSolo.Pages.Tooltip>
    </ul>
    <div id="nav-icons">
        <a href="https://twitter.com/TechPickleJoel" target="_blank">
            <RoadToSolo.Pages.Svg.TwitterIcon />
        </a>
        <a href="https://www.producthunt.com/@@joel_pickin" target="_blank">
            <RoadToSolo.Pages.Svg.ProductHuntIcon />
        </a>       
    </div>
</nav>

<nav class="@NavMenuCssClass">
    <ul>
        <li>
            <NavLink href="" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li>
            <NavLink href="projects">
                <span aria-hidden="true"></span> Projects
            </NavLink>
        </li>
        <li>
            <NavLink href="roadtosolo">
                <span aria-hidden="true"></span> Road To Solo
            </NavLink>
        </li>
        <RoadToSolo.Pages.Tooltip Text="Coming Soon!">
            <li class="nav-item-coming-soon">
                    <span aria-hidden="true"></span> Blog
            </li>
        </RoadToSolo.Pages.Tooltip>
    </ul>
</nav>


@code {
    private bool hideNavMenu = true;
    private bool showToggleBtn = true;
    private bool toggleNavbar = true;

    private string NavMenuCssClass => hideNavMenu ? "hidden" : "visible";
    private string BtnToggled => showToggleBtn ? "btnNotToggled" : "btnToggled";
    private string CloseBtnToggled => showToggleBtn ? "closeBtnToggled" : "closeBtnNotToggled";
    private string NavMenuIconsToggled => hideNavMenu ? "nav-icons-hidden" : "nav-icons-visible";

    private string NavBarToggle => toggleNavbar ? "closed" : "open";


    private void ToggleNavMenu()
    {
        hideNavMenu = !hideNavMenu;
        showToggleBtn = !showToggleBtn;
        toggleNavbar = !toggleNavbar;
    }
}