<div class="@NavMenuCssClass" id="flyoutMenu">
    <h2><a href="#">Home</a></h2>
    <h2><a href="#">About</a></h2>
    <h2><a href="#">Contact</a></h2>
    <h2><a href="#">Search</a></h2>
</div>

<nav>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <RoadToSolo.Pages.Svg.HamburgerIcon/>
    </button>
    <div class="nav-menu">
        <ul class="nav-bar">
            <li class="nav-item">
                <NavLink href="" Match="NavLinkMatch.All">
                    <span aria-hidden="true"></span> Home
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink href="projects">
                    <span aria-hidden="true"></span> Projects
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink href="roadtosolo">
                    <span aria-hidden="true"></span> Road To Solo
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink href="blog">
                    <span aria-hidden="true"></span> Blog
                </NavLink>
            </li>
        </ul>
    </div>
    <div class="nav-icons">
        <RoadToSolo.Pages.Svg.TwitterIcon/>
        <RoadToSolo.Pages.Svg.GithubIcon/>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "show" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}