<nav>
    <ul class="nav-bar">
        <li>
            <NavLink href="" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li>
            <NavLink href="projects">
                <span aria-hidden="true"></span> Projects
            </NavLink>
        </li>
        <li>
            <NavLink href="roadtosolo">
                <span aria-hidden="true"></span> Road To Solo
            </NavLink>
        </li>
        <li>
            <NavLink href="blog">
                <span aria-hidden="true"></span> Blog
            </NavLink>
        </li>
    </ul>
</nav>

@code {

}