@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

:root {
   
}

html, body {
    font-family: 'Comfortaa', cursive, 'Space Mono', monospace, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    max-width: 900px;
    align-content: center;
    margin: auto;
    background-color: #f4f4f4;
}

nav {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container {
    /*  display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-gap: 0px 0px;*/
}

/*.sidebar {
    grid-column: 1;
    grid-row: 1;
    padding-top: 90px;
}*/

.p {
    font-family: 'Space Mono', monospace;
}

.main {
    /*grid-column: 2;*/
    background-color: white;
    border: solid 1px #dddddd;
    padding: 0px 40px 0px 40px;
    margin: 20px 0px 20px 0px;
}

h1 {
    font-weight: 900;
    font-size: 28px;
}

ul {
    list-style-type: none;
    padding: 0px;
}

a {
    color: black;
}

a:hover {
    color: grey;
    text-decoration: none;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    column-gap: 20px;
}

.nav-icon {
    height: 20px;
    width: 20px;
    align-content: center;
}

.nav-icon:hover {
    fill: grey;
}

.nav-icons {

}

.content {
}

.top-section {
    padding-top: 40px;
}

.posts-section {
    
}

.road-section {
    padding-top: 40px;
}

.dynamic-content {
    font-weight: 900;
    font-size: 1.25em;
    font-family: 'Space Mono'
}

.milestone-section {

}

.milestone {
    padding: 5px 0px 5px 5px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 0px 0px;
    border-left: 1px solid black;
}

.milestone-details {
    grid-column: 2;
}

.milestone-title {
    font-size: 14px;
}

.milestone-date {
    font-size: 10px;
    font-family: 'Space Mono', monospace;
}

.milestone-marker {
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 1px solid grey;
    grid-row: 1;
}

.milestone-line {
    grid-row: 1;
    border: 1px solid black;
    grid-column: 1;
}

.cls-1, .cls-7, .cls-9 {
    fill: none;
}

.cls-1, .cls-10, .cls-11, .cls-12, .cls-2, .cls-3, .cls-4, .cls-7, .cls-8, .cls-9 {
    stroke: #000;
    stroke-miterlimit: 10;
}

.cls-1 {
    stroke-width: 2px;
}

.cls-3, .cls-6 {
    fill: #fff;
}

.cls-4 {
    fill: #a67c52;
}

.cls-5 {
    fill: #c1272d;
}

.cls-11, .cls-7 {
    stroke-width: 0.5px;
}

.cls-8 {
    fill: #8cc63f;
}

.cls-10, .cls-11, .cls-12 {
    fill: #fefbea;
}

.cls-12 {
    stroke-width: 0.3px;
}

.cls-13 {
    fill: red;
}

.nav-hamburger {
    color: black;
    width: 40px;
    height: 40px;
}

.navbar-toggler {
    padding: 0;
}

@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }

    .nav-icon {
        height: 40px;
        width: 40px;
    }

    .nav-menu {
        display: none;
    }

    #flyoutMenu {
        width: 100vw;
        height: 100vh;
        background-color: #FFE600;
        position: fixed;
        top: 0;
        left: 0;
        transform: translate3d(-100vw, 0, 0);
        transition: transform .3s cubic-bezier(0, .52, 0, 1);
        overflow: scroll;
        z-index: 1000;
    }		

        #flyoutMenu h2 a {
            color: #333;
            margin-left: 15px;
            text-decoration: none;
        }

            #flyoutMenu h2 a:hover {
                text-decoration: underline;
            }
        #flyoutMenu.show {
            transform: translate3d(0vw, 0, 0);
        }		
    .show {
        transform: translate3d(0vw, 0, 0);
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .nav-bar {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: flex-start;
        column-gap: 20px;
    }

    .navbar-toggler {
        display: none;
    }

    .show {
        display: none;
    }

    .nav-div .nav-menu {
        /* Never collapse the sidebar for wide screens */
        display: flex;
    }
}
