@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

:root {
   
}

html, body {
    font-family: 'Comfortaa', cursive, 'Space Mono', monospace, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    max-width: 900px;
    align-content: center;
    margin: auto;
    background-color: #f4f4f4;
}

nav {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container {
    /*  display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-gap: 0px 0px;*/
}

/*.sidebar {
    grid-column: 1;
    grid-row: 1;
    padding-top: 90px;
}*/

.p {
    font-family: 'Space Mono', monospace;
}

.main {
    /*grid-column: 2;*/
    background-color: white;
    border: solid 1px #dddddd;
    padding: 0px 40px 0px 40px;
    margin: 20px 0px 20px 0px;
}

h1 {
    font-weight: 900;
    font-size: 28px;
}

ul {
    list-style-type: none;
    padding: 0px;
}

a {
    color: black;
}

a:hover {
    color: grey;
    text-decoration: none;
}


.content {
}

.top-section {
    padding-top: 40px;
}

.posts-section {
    
}

.road-section {
    padding-top: 40px;
}

.dynamic-content {
    font-weight: 900;
    font-size: 1.25em;
    font-family: 'Space Mono'
}

.milestone-section {

}

.milestone {
    padding: 5px 0px 5px 5px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 0px 0px;
    border-left: 1px solid black;
}

.milestone-details {
    grid-column: 2;
}

.milestone-title {
    font-size: 14px;
}

.milestone-date {
    font-size: 10px;
    font-family: 'Space Mono', monospace;
}

.milestone-marker {
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 1px solid grey;
    grid-row: 1;
}

.milestone-line {
    grid-row: 1;
    border: 1px solid black;
    grid-column: 1;
}

.cls-1, .cls-7, .cls-9 {
    fill: none;
}

.cls-1, .cls-10, .cls-11, .cls-12, .cls-2, .cls-3, .cls-4, .cls-7, .cls-8, .cls-9 {
    stroke: #000;
    stroke-miterlimit: 10;
}

.cls-1 {
    stroke-width: 2px;
}

.cls-3, .cls-6 {
    fill: #fff;
}

.cls-4 {
    fill: #a67c52;
}

.cls-5 {
    fill: #c1272d;
}

.cls-11, .cls-7 {
    stroke-width: 0.5px;
}

.cls-8 {
    fill: #8cc63f;
}

.cls-10, .cls-11, .cls-12 {
    fill: #fefbea;
}

.cls-12 {
    stroke-width: 0.3px;
}

.cls-13 {
    fill: red;
}

.nav-hamburger {
    color: black;
    width: 40px;
    height: 40px;
}

.navbar-toggler {
    padding: 0;
}

#toggle-btn {
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }

    .visible {
        position: relative;
    }

    .visible a {
        float: none;
        display: block;
        text-align: left;
    }

    .hidden {
        display: none;
    }

    .nav-bar {
        display: none;
    }

    .nav-icons {
        display: none;
    }

    .btnToggled {
        animation: rotate-toggle 1s ease-in forwards, opacity-toggle 1s linear forwards;
    }

    @keyframes rotate-toggle {
        100% {
            transform: rotate(-180deg) translate(0, -1px);
        }
    }

    @keyframes opacity-toggle {
        100% {
            opacity: 0;
        }
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .nav-bar {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
        column-gap: 20px;
    }

    .navbar-toggler {
        display: none;
    }

    .visible {
        display: none;
    }

    .hidden {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
        column-gap: 20px;
    }

    .nav-menu {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
        column-gap: 20px;
    }

    .nav-icon {
        height: 20px;
        width: 20px;
        align-content: center;
    }

    .nav-icon:hover {
        fill: grey;
    }
}
