@page "/"
@namespace RoadToSolo.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
    string Title = "Road To Solo";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- Primary Meta Tags -->
<title>The Road To Solo - A Developers Journey To Finding Financial Freedom</title>
<meta name="title" content="The Road To Solo - A Developers Journey To Finding Financial Freedom">
<meta name="description" content="A software developer leaves their job to become a solo builder. Follow along to see their success and failures on the road to finding financial freedom.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://roadtosolo.com/">
<meta property="og:title" content="The Road To Solo - A Developers Journey To Finding Financial Freedom">
<meta property="og:description" content="A software developer leaves their job to become a solo builder. Follow along to see their success and failures on the road to finding financial freedom.">
<meta property="og:image" content="../WebsiteHeader.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://roadtosolo.com/">
<meta property="twitter:title" content="The Road To Solo - A Developers Journey To Finding Financial Freedom">
<meta property="twitter:description" content="A software developer leaves their job to become a solo builder. Follow along to see their success and failures on the road to finding financial freedom.">
<meta property="twitter:image" content="../WebsiteHeader.png">

    <partial name="../Shared/_Favicons"/>
    <title>@Title</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Space+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    @*<div id="blazor-error-ui">
            <environment include="Staging,Production">
                An error has occurred. This application may no longer respond until reloaded.
            </environment>
            <environment include="Development">
                An unhandled exception has occurred. See browser dev tools for details.
            </environment>
            <a href="" class="reload">Reload</a>
            <a class="dismiss">🗙</a>
        </div>*@

    <script src="_framework/blazor.server.js"></script>

    @{
        @*var x = ViewContext.RouteData.Values.FirstOrDefault(x => x.Value.ToString() == "roadtosolo").Value;

        if (x != null)
        {
            if (x.ToString() == "roadtosolo")
            {
                var y = 1;
        <div class="content">
            <script async data-uid="8177699513" src="https://creative-artisan-7470.ck.page/8177699513/index.js"></script>
        </div>
            }
        }*@
    }


</body>
</html>