<div class="sidebar-container">
    <h1 class="sidebar-section-title">Milestones</h1>
    <div class="sidebar-span"></div>
    @foreach (var milestone in MilestonesList)
    {
<div class="sidebar">

    @if (milestone.IsAchieved)
    {
        <h2 class="milestone-indicator">✔️</h2>

        <h2 class="milestone-title" style="text-decoration: line-through; text-decoration-thickness: 2.5px;">@milestone.Title</h2>
    }
    else
    {
        @if (!string.IsNullOrEmpty(milestone.MilestoneIndicator))
        {
            <h2 class="milestone-indicator">@milestone.MilestoneIndicator</h2>
        }

        <h2 class="milestone-title">@milestone.Title</h2>
    }

</div>
        <div class="sidebar-span"></div>
    }
</div>