<div>
    <div>
        <h1 id="first-phase-heading" class="phase-heading">Phase 1</h1>

        <p>I don't know what I'm doing, but I'm having a blast. Figuring stuff out and creating projects that are fun for the fun of it.</p>
    </div>
    <div>
        <h1 class="phase-heading">Phase 2</h1>

        <p>I leave work. I now have to start thinking realistically about building products people will pay for.</p>
    </div>
    <div>
        <h1 class="phase-heading">Phase 3</h1>

        <p>I need to hit profitability to sustain this new lifestyle or it's back to the grind.</p>
    </div>
</div>
