@page "/posts"

    <div class="posts-section">
        <h1>Posts.</h1>

        <div>
            <ul class="posts-list">
                @foreach (var item in PostList)
                {
                    <li><a href="@($"viewpost/{item.Id}")"> @item.Title </a></li>
                }
            </ul>
        </div>
    </div>
