@page "/projects"

<h1>Projects</h1>

<ul>
    @foreach (var project in ProjectList)
    {
        <li><a href="@($"viewproject/{project.Id}")">Project @project.Id: @project.Title</a></li>
    }
</ul>