@page "/projects"

<div class="top-section">
    <h1>Projects</h1>

    <ul>
        @if (ProjectList.Count == 0)
        {
            <p>This page is a lonely place... but not for long.</p>
        }
        else
        {
            @foreach (var project in ProjectList)
            {
                <li><a href="@($"viewproject/{project.Id}")">Project @project.Id: @project.Title</a></li>
            }
        }
    </ul>
</div>