@page "/roadtosolo"
@layout SidebarLayout

    <div class="top-section" id="solo-main">
        <h1>Lets go.</h1>

        <p>
            It has been my dream to work for myself for as long as I can remember.
            I've been inspired by so many amazing creators who have turned their skills into money on the web.
            I'm finally at the point in my life where I can realistically give this a go.
        </p>

        <p>
            This page holds a variety of metrics that I will update as I go along my journey.
            I am currently still working full-time but I have a budget and savings plan to get me to the place I want to in <span class="dynamic-content">@daysLeftAtWork</span> days.
        </p>

        <p>The Road To Solo is my newsletter, a personal diary of sorts, a form of accountability to stay on course and reflect on my progress with each passing week.</p>

        <p>Subscribe below to watch me <span style="text-decoration: line-through; text-decoration-thickness: 2px;">succeed</span> fail, learn a thing or two and be notified of any new projects I create.</p>       
    </div>

    <Phases/>

    <FAQ/>

    <SubscribeForm />
