
@*<RoadToSolo.Pages.Svg.LayingDownPickle />*@
<h1>Newsletter.</h1>

<div class="subscribe-section">

    @if (IsSubscribed)
    {
        <RoadToSolo.Pages.Svg.ThumbsUpPickle />
    }
    else
    {
<h4 id="newsletter-subtext">Sent monthly & when I have a new project to share!</h4>
        <EditForm Model="@subscriber" OnValidSubmit="@AddSubscriber">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="subscribe-form">
                <InputText class="form-input" id="firstName" @bind-Value="subscriber.FirstName" name="firstName" placeholder="First name" />
                <InputText class="form-input" id="email" @bind-Value="subscriber.Email" name="email" placeholder="Email address" />

                <button type="submit" id="form-submit-btn" class="form-input">📧</button>
            </div>
        </EditForm>
    }

</div>